# Pandas

## Importing Pandas

In [2]:
# import the list of stations
import pandas as pd
df = pd.read_csv("C:\\python-datasets\\StationDetails.csv")
print(df)

       County  Station Number                       name  Height (m)  Easting  \
0        Cork            5704                 AHERLAMORE         122   150000
1        Cork            1203              ALLIHIES G.S.          58    58700
2        Cork             306               ARAGLEN G.S.          94   192700
3        Cork            5006         ARAGLEN TROUT FARM          91   190800
4        Cork            6806      ARAGLEN TROUT FARM II          73   190500
...       ...             ...                        ...         ...      ...
1935  Donegal            1343  SPEENOGE (GRIANAN ESTATE)           5   235800
1936  Donegal             442      STRANORLAR (VOC.SCH.)          21   214500
1937  Donegal            1242     STRANORLAR-Cavan_Lower          27   217525
1938  Donegal            1143           TERMON (GOLDRUM)         152   212285
1939  Donegal            5237                     finner          45   184200

      Northing  Latitude  Longitude  Open Year  Close Year
0        66600    51.843     -8.722       1985         NaN
1        45400    51.639    -10.038       1950      1969.0
2       106100    52.204     -8.104       1944      1958.0
3       105500    52.201     -8.134       1981      1982.0
4       105300    52.193     -8.136       1988      1991.0
...        ...       ...        ...        ...         ...
1935    421700    55.038     -7.437       1961      1990.0
1936    395000    54.802     -7.772       1948      1982.0
1937    395245    54.803     -7.724       1965         NaN
1938    423820    55.057     -7.805       1972         NaN
1939    360400    54.488     -8.237       1996      2011.0

[1940 rows x 10 columns]

## Dataframes
Data imported into Panda's is stored in a collection called a dataframe. Usually refered to as **df**

In [3]:
df

,County,Station Number,name,Height (m),Easting,Northing,Latitude,Longitude,Open Year,Close Year
0,Cork,5704,AHERLAMORE,122,150000,66600,51.843,-8.722,1985,NaN
1,Cork,1203,ALLIHIES G.S.,58,58700,45400,51.639,-10.038,1950,1969.0
2,Cork,306,ARAGLEN G.S.,94,192700,106100,52.204,-8.104,1944,1958.0
3,Cork,5006,ARAGLEN TROUT FARM,91,190800,105500,52.201,-8.134,1981,1982.0
4,Cork,6806,ARAGLEN TROUT FARM II,73,190500,105300,52.193,-8.136,1988,1991.0
...,...,...,...,...,...,...,...,...,...,...
1935,Donegal,1343,SPEENOGE (GRIANAN ESTATE),5,235800,421700,55.038,-7.437,1961,1990.0
1936,Donegal,442,STRANORLAR (VOC.SCH.),21,214500,395000,54.802,-7.772,1948,1982.0
1937,Donegal,1242,STRANORLAR-Cavan_Lower,27,217525,395245,54.803,-7.724,1965,NaN
1938,Donegal,1143,TERMON (GOLDRUM),152,212285,423820,55.057,-7.805,1972,NaN
1939,Donegal,5237,finner,45,184200,360400,54.488,-8.237,1996,2011.0

In [4]:
# The shape attribute gives rows and columns. Note shape is an attribute. (note I deleted first line of csv)
df.shape

(1940, 10)

In [ ]:
#stops truncating rows
pd.options.display.max_rows = 4000

In [15]:
df.head(10)
#df.tail(100)

,County,Station Number,name,Height (m),Easting,Northing,Latitude,Longitude,Open Year,Close Year
0,Cork,5704,AHERLAMORE,122,150000,66600,51.843,-8.722,1985,NaN
1,Cork,1203,ALLIHIES G.S.,58,58700,45400,51.639,-10.038,1950,1969.0
2,Cork,306,ARAGLEN G.S.,94,192700,106100,52.204,-8.104,1944,1958.0
3,Cork,5006,ARAGLEN TROUT FARM,91,190800,105500,52.201,-8.134,1981,1982.0
4,Cork,6806,ARAGLEN TROUT FARM II,73,190500,105300,52.193,-8.136,1988,1991.0
5,Cork,1104,BALLINACURRA,7,188500,72000,51.900,-8.167,1909,1984.0
6,Cork,5304,BALLINACURRA NO.2,17,188900,71500,51.891,-8.157,1984,2002.0
7,Cork,2504,BALLINAGREE (HORSEMOUNT),162,135400,79800,51.967,-8.937,1948,1977.0
8,Cork,2904,BALLINAGREE (MUSHERA),351,135700,85500,52.017,-8.935,1948,2005.0
9,Cork,2304,BALLINCURRIG G.S.,92,184500,81700,51.986,-8.222,1944,1969.0

## Understsnding dataframes?

In [7]:
# single person
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [8]:
# Data for many people use list
people = {
    "first": ["Morgan"], 
    "last": ["McKnight"], 
    "email": ["morgan.mcknight@gmail.com"]
}

In [ ]:
# Data for many people use list
people = {
    "first": ["Morgan", 'Jane', 'John'], 
    "last": ["McKnight", 'Doe', 'Doe'], 
    "email": ["morgan.mcknight@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

**Note:** Keys are coloums and lists are rows (two dimension)

In [ ]:
# access a colulm
people['email']

In [ ]:
import pandas as pd
df = pd.DataFrame(people)

In [ ]:
df

**Note**: Index added by pandas

In [9]:
# Access a single column (refereed to as a series)
df['email']

KeyError: 'email'

In [ ]:
# note a list within the brackets

df[['last','email']]

In [16]:
# Get a list of columns
df.columns

Index(['County', 'Station Number', 'name', 'Height (m)', 'Easting', 'Northing',
       'Latitude', 'Longitude', 'Open Year', 'Close Year'],
      dtype='object')

## iloc and loc
iloc locates data using index (i) and loc  is used to access data using labels.

In [ ]:
# rows by iloc and loc (i stands for index)
df.iloc[0:2]

In [ ]:
# rows and coluumns
df.iloc[0:2,0:1]

In [ ]:
# loc search by lable: the lables are indices at the moment but see later (index with lables)
df.loc[1]

In [ ]:
# using index as a label
df.loc[0:1]

In [ ]:
# Output rows and columns
df.loc[0:2,'email']

In [ ]:
# Rang of either
df.loc[0:2,['email','last']]

In [17]:
# import the list of stations
import pandas as pd
df = pd.read_csv("C:\\python-datasets\\StationDetails.csv")
print(df)

       County  Station Number                       name  Height (m)  Easting  \
0        Cork            5704                 AHERLAMORE         122   150000
1        Cork            1203              ALLIHIES G.S.          58    58700
2        Cork             306               ARAGLEN G.S.          94   192700
3        Cork            5006         ARAGLEN TROUT FARM          91   190800
4        Cork            6806      ARAGLEN TROUT FARM II          73   190500
...       ...             ...                        ...         ...      ...
1935  Donegal            1343  SPEENOGE (GRIANAN ESTATE)           5   235800
1936  Donegal             442      STRANORLAR (VOC.SCH.)          21   214500
1937  Donegal            1242     STRANORLAR-Cavan_Lower          27   217525
1938  Donegal            1143           TERMON (GOLDRUM)         152   212285
1939  Donegal            5237                     finner          45   184200

      Northing  Latitude  Longitude  Open Year  Close Year
0        66600    51.843     -8.722       1985         NaN
1        45400    51.639    -10.038       1950      1969.0
2       106100    52.204     -8.104       1944      1958.0
3       105500    52.201     -8.134       1981      1982.0
4       105300    52.193     -8.136       1988      1991.0
...        ...       ...        ...        ...         ...
1935    421700    55.038     -7.437       1961      1990.0
1936    395000    54.802     -7.772       1948      1982.0
1937    395245    54.803     -7.724       1965         NaN
1938    423820    55.057     -7.805       1972         NaN
1939    360400    54.488     -8.237       1996      2011.0

[1940 rows x 10 columns]

In [ ]:
df

In [ ]:
# Attribute
df.shape

In [18]:
# Lets get the coloumns 'Height
df.columns

Index(['County', 'Station Number', 'name', 'Height (m)', 'Easting', 'Northing',
       'Latitude', 'Longitude', 'Open Year', 'Close Year'],
      dtype='object')

In [ ]:
df['Height (m)']

In [19]:
df['County'].value_counts()

Cork         242
Kerry        147
Galway       136
Donegal      135
Mayo         124
Wicklow      110
Tipperary    108
Dublin        88
Wexford       81
Clare         77
Limerick      66
Waterford     59
Sligo         53
Kildare       52
Kilkenny      52
Cavan         51
Meath         48
Roscommon     47
Offaly        42
Westmeath     42
Louth         35
Leitrim       35
Laois         31
Monaghan      30
Carlow        27
Longford      22
Name: County, dtype: int64

In [ ]:
df.loc[0]

In [ ]:
df.loc[0,'Open Year']

In [ ]:
df.loc[0:1000,'Open Year'].value_counts()

In [ ]:
df.loc[0:1000,'name':'Open Year']

## Index

In [ ]:
# Data for many people use list
people = {
    "first": ["Morgan", 'Jane', 'John'], 
    "last": ["McKnight", 'Doe', 'Doe'], 
    "email": ["morgan.mcknight@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
# Use Pandas to put it into a Data Frame
import pandas as pd
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df['email']

In [ ]:
df.set_index('email')

In [ ]:
# Only for that instance
df

In [ ]:
df.set_index('email', inplace = True)

In [ ]:
df

In [ ]:
# Get the index
df.index

In [12]:
# Why is a label index usefull?
df.loc['morgan.mcknight@gmail.com']

KeyError: 'morgan.mcknight@gmail.com'

In [ ]:
# We can add colulms?
df.loc['juarez.barbosa@gmail.com', 'first']

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df

In [ ]:
# import the list of stations
import pandas as pd
df = pd.read_csv("/Users/morgan/Documents/Courses/Python/MyModules/StationDetails.csv", index_col = 'name')
df.head(10)

In [ ]:
df.loc['AHERLAMORE']

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(ascending =False)

In [ ]:
df.sort_index(inplace = True)

In [ ]:
df

## Filtering

In [20]:
df['County']=='Cork'

0        True
1        True
2        True
3        True
4        True
        ...
1935    False
1936    False
1937    False
1938    False
1939    False
Name: County, Length: 1940, dtype: bool

In [ ]:
filt = (df['County']=='Wicklow')

In [ ]:
df[filt]

In [75]:
# With loc we can also specify colulmns
df.loc[filt]

,County,Station Number,Height (m),Easting,Northing,Latitude,Longitude,Open Year,Close Year
name,,,,,,,,,
ANNAMOE (GLENDALOUGH HOUSE),Wicklow,2220,210,316400,200400,53.038,-6.258,1989,1993.0
ARKLOW (BALLYRICHARD HOUSE),Wicklow,3324,70,326035,177500,52.834,-6.125,1984,NaN
ARKLOW (COOLADANGAN HOUSE),Wicklow,2720,61,322400,171300,52.774,-6.185,2001,2003.0
ARKLOW (SHELTON ABBEY),Wicklow,1220,15,322100,175300,52.809,-6.187,1957,1981.0
ARKLOW FERRYBANK,Wicklow,1920,5,325100,173600,52.793,-6.140,1981,1985.0
ARKLOW W.W.,Wicklow,1020,34,322128,173028,52.790,-6.187,1949,2015.0
ASHFORD (CRONYKEERY),Wicklow,3924,15,329195,198845,53.022,-6.072,2001,NaN
ASHFORD (GLANMORE GARDENS),Wicklow,3124,110,324708,198479,53.020,-6.139,1984,NaN
AUGHAVANNAGH (FOR.STN.),Wicklow,120,238,307200,185400,52.905,-6.404,1951,1961.0
AUGHRIM (BALLYTEIGE),Wicklow,1320,183,307000,184700,52.902,-6.406,1961,1962.0
AUGHRIM G.S.,Wicklow,920,75,312900,179800,52.854,-6.321,1949,1994.0
AUGHRIM-Killacloran,Wicklow,2820,50,314530,178940,52.843,-6.301,2015,NaN
AVOCA (COPPER MINES),Wicklow,1720,46,319700,181600,52.870,-6.220,1971,1983.0
BALLINASTOE,Wicklow,720,396,318800,207900,53.105,-6.222,1948,1982.0
BALLYMAN BRAY,Wicklow,2924,171,323300,219900,53.209,-6.153,1979,2001.0
BALLYNAHINCH,Wicklow,3824,287,322781,204554,53.073,-6.168,1998,NaN
BALTINGLASS G.S.,Wicklow,3715,122,286700,188200,52.936,-6.706,1976,1988.0
BARNDARRIG G.S.,Wicklow,1324,41,327000,186500,52.908,-6.107,1949,1969.0
BLESSINGTON (HEMPSTOWN),Wicklow,8623,213,300015,217447,53.192,-6.503,1990,NaN
BLESSINGTON G.S.,Wicklow,5023,206,298000,214200,53.168,-6.534,1949,1990.0
BRAY (AVOCA AVE.),Wicklow,2524,30,327000,217700,53.190,-6.100,1978,1994.0
BRAY G.S.,Wicklow,1424,17,326500,218600,53.202,-6.104,1949,1994.0
CARNEW (VOC.SCH.),Wicklow,1615,99,301200,163300,52.707,-6.502,1949,1993.0
CARNEW-Cronyhorn,Wicklow,5015,76,300587,163845,52.717,-6.507,1993,NaN
CURROUGH NO.1,Wicklow,3123,296,297800,199700,53.037,-6.538,1937,1968.0
DEERPARK POWERSCOURT,Wicklow,3024,381,318700,212200,53.141,-6.222,1982,1984.0
DELGANY (GOODBROOK),Wicklow,1724,91,327900,212100,53.140,-6.087,1955,1970.0
DONARD G.S.,Wicklow,1715,183,293000,197700,53.020,-6.608,1949,1984.0
Druids_Glen_Golf_Course,Wicklow,4124,55,328500,206715,53.091,-6.076,2013,NaN
ENNISKERRY (BALLYBREW),Wicklow,2224,201,319500,219200,53.206,-6.207,1975,1983.0
ENNISKERRY (BALLYMAN HSE.),Wicklow,2424,107,323600,219000,53.204,-6.150,1976,1979.0
ENNISKERRY (BALLYORNEY),Wicklow,524,116,322600,214500,53.167,-6.167,1938,1945.0
ENNISKERRY (KILMALIN),Wicklow,2324,274,320010,217545,53.190,-6.203,1975,2014.0
GLEN IMAAL (FOR.STN.),Wicklow,2415,213,297915,194835,52.991,-6.539,1951,NaN
GLENBRIDE LODGE,Wicklow,3223,363,303700,204100,53.074,-6.452,1937,NaN
GLENCREE (AURORA),Wicklow,3424,305,314300,217300,53.190,-6.287,1984,1997.0
GLENDALOUGH,Wicklow,2320,152,312500,197000,53.007,-6.321,1993,1999.0
GLENDALOUGH (FOR.STN.),Wicklow,320,151,311100,196100,53.003,-6.340,1951,1955.0
GLENDALOUGH FOR.(LARAGH),Wicklow,420,149,314500,196500,53.004,-6.290,1956,1957.0
GLENEALY (KILMACURRAGH PARK),Wicklow,2824,122,324471,188065,52.924,-6.143,1981,NaN
GLENMACNASS,Wicklow,1420,238,311790,202275,53.056,-6.333,1965,NaN
GLENMALURE (FOR.STN.),Wicklow,220,133,310900,190700,52.953,-6.350,1951,1953.0
GLENMALURE FOR.(KIRIKEE),Wicklow,1120,125,312400,189500,52.940,-6.323,1953,1971.0
GRANABEG,Wicklow,123,240,300600,201000,53.050,-6.500,1937,1938.0
GRANGE CON,Wicklow,6614,157,285400,195500,53.002,-6.723,1995,2003.0
GREYSTONES (CHARLESLAND G.C.),Wicklow,3724,14,330200,210800,53.125,-6.053,1992,2001.0
GREYSTONES (INGLEFIELD),Wicklow,724,0,329300,211700,53.137,-6.067,1952,1956.0
GREYSTONES (MT.OFFALY),Wicklow,424,32,329500,212200,53.140,-6.058,1928,1950.0
HOLLYWOOD G.S.,Wicklow,5123,165,293700,207000,53.103,-6.601,1949,1983.0
KILBRIDE-TOGHER,Wicklow,4024,72,327687,184162,52.889,-6.102,2004,NaN
KILCOOLE,Wicklow,2624,44,329500,208200,53.105,-6.059,1979,1981.0
KILCOOLE (TREATMENT PLANT),Wicklow,3624,9,330707,207468,53.101,-6.043,1985,NaN
KILTEGAN G.S.,Wicklow,415,152,293800,184800,52.903,-6.603,1949,1956.0
KIPPURE (T.V.TRANS.STN.),Wicklow,6123,750,311600,215400,53.173,-6.325,1962,1968.0
LARAGH (TROOPERSTOWN),Wicklow,2620,162,315800,197000,53.007,-6.272,1999,2004.0
LOUGH BRAY COTTAGE,Wicklow,1924,366,314000,216400,53.185,-6.290,1962,1979.0
LOUGH DAN,Wicklow,620,213,315800,201900,53.053,-6.270,1948,1973.0
LOUGH DAN (OLDBRIDGE),Wicklow,1820,232,315700,201600,53.052,-6.272,1975,1997.0
LOUGH NAHANAGAN,Wicklow,1620,425,308400,199100,53.026,-6.384,1965,1995.0
LOUGH TAY,Wicklow,2120,271,315900,208400,53.108,-6.268,1981,1982.0
LUGGALA GATE LODGE,Wicklow,2020,314,316500,206900,53.100,-6.257,1981,1984.0
M.AUGHAVANNAGH(SLIEVEMAAN FOR),Wicklow,9620,472,308400,187500,52.923,-6.386,1964,1966.0
M.AUGHRIM (CARRICKASHANE),Wicklow,8820,439,308400,186000,52.908,-6.387,1953,1962.0
M.AUGHRIM (MUCKLAGH FOR.),Wicklow,8920,475,307600,186100,52.909,-6.400,1952,1953.0
M.BALLINAGEE,Wicklow,18723,305,304100,202100,53.056,-6.442,1971,1993.0
M.BALLINATONA,Wicklow,19023,297,305300,213300,53.158,-6.422,1937,NaN
M.BROCKEY LODGE,Wicklow,19123,305,309400,213200,53.155,-6.358,1937,1993.0
M.CURROUGH NO.2,Wicklow,19223,503,299000,197500,53.018,-6.522,1937,1967.0
M.CURROUGH NO.2A,Wicklow,18823,488,297000,200000,53.038,-6.553,1967,1997.0
M.DJOUCE MTN.,Wicklow,9020,710,317900,210300,53.125,-6.237,1948,1978.0
M.DUFF HILL,Wicklow,9220,701,308700,207200,53.103,-6.372,1948,NaN
M.GLEN IMAAL(BALLINABARNY FOR),Wicklow,9915,421,297100,190200,52.953,-6.553,1952,1964.0
M.GLENDALOUGH (LUGDUFF FOR.),Wicklow,9320,451,311000,194200,52.986,-6.342,1952,1997.0
M.GLENMALURE (CLOGHERNAGH FOR.),Wicklow,9420,436,309100,190500,52.953,-6.372,1952,NaN
M.LIFFEY HEAD,Wicklow,18523,541,313800,212600,53.151,-6.292,1995,2007.0
M.LOUGH BRAY (LOWER),Wicklow,9924,375,313300,216400,53.185,-6.303,1937,1962.0
M.LOUGH DAN (SCAR MTN.),Wicklow,9120,610,313300,201700,53.053,-6.306,1948,1997.0
M.LOUGH OULER,Wicklow,9820,457,309693,202757,53.059,-6.359,1965,NaN
M.MOANBANE NO.1,Wicklow,19323,500,303300,204700,53.083,-6.455,1937,NaN
M.MOANBANE NO.2,Wicklow,19423,643,302900,206000,53.090,-6.458,1937,1999.0
M.MOANBANE NO.4,Wicklow,19523,354,304400,205100,53.085,-6.438,1937,NaN
M.MULLAGHCLEEVAUN,Wicklow,8720,610,309400,207000,53.102,-6.367,1983,NaN
M.OAKWOOD,Wicklow,19623,287,302800,201300,53.052,-6.467,1937,1967.0
M.OAKWOOD NO.2,Wicklow,18923,259,302900,201800,53.054,-6.459,1967,1971.0
M.RATHDRUM (BALLINTOMBAY FOR.),Wicklow,9520,384,314400,190200,52.951,-6.291,1952,NaN
M.SALLY GAP,Wicklow,19723,462,312600,211100,53.137,-6.317,1937,NaN
M.SORREL PASS(NO.2),Wicklow,18623,472,304600,211000,53.137,-6.436,1976,1993.0
M.SORRELL PASS,Wicklow,19823,427,304800,211000,53.137,-6.433,1937,1976.0
M.WICKLOW GAP,Wicklow,19923,415,306700,200500,53.040,-6.405,1937,2007.0
MANOR KILBRIDE,Wicklow,323,229,304700,217800,53.200,-6.433,1937,1943.0
MONEYSTOWN,Wicklow,820,207,319080,197151,53.007,-6.223,1948,NaN
NEWCASTLE (SAN.),Wicklow,224,78,327700,204700,53.073,-6.090,1897,1953.0
NEWTOWNMOUNTKENNEDY FOREST LAB.,Wicklow,2724,91,326408,206875,53.092,-6.108,1981,NaN
OLDBRIDGE (OAKVIEW),Wicklow,2420,335,315627,201562,53.052,-6.272,1997,NaN
RATHDRUM (AVONDALE),Wicklow,520,131,319700,186000,52.907,-6.219,1908,1989.0
RATHNEW (BALLINA PARK),Wicklow,824,26,328200,197800,53.009,-6.087,1946,1959.0
RATHNEW (CLONMANNON),Wicklow,1224,8,330100,198300,53.018,-6.057,1906,1970.0
ROUNDWOOD (FILTER BEDS),Wicklow,1024,195,321523,201207,53.042,-6.186,1898,NaN
ROUNDWOOD (VALVE TOWER),Wicklow,1124,229,320200,203700,53.069,-6.204,1899,1988.0
ROUNDWOOD (VARTRY LODGE),Wicklow,624,204,320700,201400,53.050,-6.200,1898,1950.0
SHILLELAGH (COOLLATTIN),Wicklow,815,86,301100,168200,52.753,-6.502,1908,1982.0
SHILLELAGH (KILQUIGGAN),Wicklow,2215,152,296400,171200,52.783,-6.569,1949,1967.0
SHILLELAGH G.S.,Wicklow,2515,72,298800,167900,52.752,-6.535,1951,1982.0
TINAHELY,Wicklow,615,91,303800,173100,52.792,-6.457,1949,1953.0
TINAHELY-Mucklagh,Wicklow,2520,107,308565,174835,52.808,-6.388,1999,NaN
TURLOUGH HILL,Wicklow,1520,686,306400,198300,53.022,-6.408,1965,1995.0
WICKLOW (BALLINTESKIN),Wicklow,3224,46,329800,190200,52.941,-6.068,1984,2001.0
WICKLOW (CARRIGBAWN),Wicklow,1524,43,331500,193500,52.972,-6.038,1949,1967.0
WICKLOW (THREE MILE WATER),Wicklow,1824,19,331700,187800,52.922,-6.038,1956,1969.0
WICKLOW W.W.,Wicklow,924,72,329700,193300,52.972,-6.068,1949,1958.0

In [77]:
# With loc we can also specify colulmns
df.loc[filt, 'Open Year']

name
ANNAMOE (GLENDALOUGH HOUSE)        1989
ARKLOW (BALLYRICHARD HOUSE)        1984
ARKLOW (COOLADANGAN HOUSE)         2001
ARKLOW (SHELTON ABBEY)             1957
ARKLOW FERRYBANK                   1981
ARKLOW W.W.                        1949
ASHFORD (CRONYKEERY)               2001
ASHFORD (GLANMORE GARDENS)         1984
AUGHAVANNAGH (FOR.STN.)            1951
AUGHRIM (BALLYTEIGE)               1961
AUGHRIM G.S.                       1949
AUGHRIM-Killacloran                2015
AVOCA (COPPER MINES)               1971
BALLINASTOE                        1948
BALLYMAN BRAY                      1979
BALLYNAHINCH                       1998
BALTINGLASS G.S.                   1976
BARNDARRIG G.S.                    1949
BLESSINGTON (HEMPSTOWN)            1990
BLESSINGTON G.S.                   1949
BRAY (AVOCA AVE.)                  1978
BRAY G.S.                          1949
CARNEW (VOC.SCH.)                  1949
CARNEW-Cronyhorn                   1993
CURROUGH NO.1                      1937
DEERPARK POWERSCOURT               1982
DELGANY (GOODBROOK)                1955
DONARD G.S.                        1949
Druids_Glen_Golf_Course            2013
ENNISKERRY (BALLYBREW)             1975
ENNISKERRY (BALLYMAN HSE.)         1976
ENNISKERRY (BALLYORNEY)            1938
ENNISKERRY (KILMALIN)              1975
GLEN IMAAL (FOR.STN.)              1951
GLENBRIDE LODGE                    1937
GLENCREE (AURORA)                  1984
GLENDALOUGH                        1993
GLENDALOUGH (FOR.STN.)             1951
GLENDALOUGH FOR.(LARAGH)           1956
GLENEALY (KILMACURRAGH PARK)       1981
GLENMACNASS                        1965
GLENMALURE (FOR.STN.)              1951
GLENMALURE FOR.(KIRIKEE)           1953
GRANABEG                           1937
GRANGE CON                         1995
GREYSTONES (CHARLESLAND G.C.)      1992
GREYSTONES (INGLEFIELD)            1952
GREYSTONES (MT.OFFALY)             1928
HOLLYWOOD G.S.                     1949
KILBRIDE-TOGHER                    2004
KILCOOLE                           1979
KILCOOLE (TREATMENT PLANT)         1985
KILTEGAN G.S.                      1949
KIPPURE (T.V.TRANS.STN.)           1962
LARAGH (TROOPERSTOWN)              1999
LOUGH BRAY COTTAGE                 1962
LOUGH DAN                          1948
LOUGH DAN (OLDBRIDGE)              1975
LOUGH NAHANAGAN                    1965
LOUGH TAY                          1981
LUGGALA GATE LODGE                 1981
M.AUGHAVANNAGH(SLIEVEMAAN FOR)     1964
M.AUGHRIM (CARRICKASHANE)          1953
M.AUGHRIM (MUCKLAGH FOR.)          1952
M.BALLINAGEE                       1971
M.BALLINATONA                      1937
M.BROCKEY LODGE                    1937
M.CURROUGH NO.2                    1937
M.CURROUGH NO.2A                   1967
M.DJOUCE MTN.                      1948
M.DUFF HILL                        1948
M.GLEN IMAAL(BALLINABARNY FOR)     1952
M.GLENDALOUGH (LUGDUFF FOR.)       1952
M.GLENMALURE (CLOGHERNAGH FOR.)    1952
M.LIFFEY HEAD                      1995
M.LOUGH BRAY (LOWER)               1937
M.LOUGH DAN (SCAR MTN.)            1948
M.LOUGH OULER                      1965
M.MOANBANE NO.1                    1937
M.MOANBANE NO.2                    1937
M.MOANBANE NO.4                    1937
M.MULLAGHCLEEVAUN                  1983
M.OAKWOOD                          1937
M.OAKWOOD NO.2                     1967
M.RATHDRUM (BALLINTOMBAY FOR.)     1952
M.SALLY GAP                        1937
M.SORREL PASS(NO.2)                1976
M.SORRELL PASS                     1937
M.WICKLOW GAP                      1937
MANOR KILBRIDE                     1937
MONEYSTOWN                         1948
NEWCASTLE (SAN.)                   1897
NEWTOWNMOUNTKENNEDY FOREST LAB.    1981
OLDBRIDGE (OAKVIEW)                1997
RATHDRUM (AVONDALE)                1908
RATHNEW (BALLINA PARK)             1946
RATHNEW (CLONMANNON)               1906
ROUNDWOOD (FILTER BEDS)            1898
ROUNDWOOD (VALVE TOWER)            1899
ROUNDWOOD (VARTRY LODGE)           1898
SHILLELAGH (COOLLATTIN)            1908
SHILLELAGH (KILQUIGGAN)            1949
SHILLELAGH G.S.                    1951
TINAHELY                           1949
TINAHELY-Mucklagh                  1999
TURLOUGH HILL                      1965
WICKLOW (BALLINTESKIN)             1984
WICKLOW (CARRIGBAWN)               1949
WICKLOW (THREE MILE WATER)         1956
WICKLOW W.W.                       1949
Name: Open Year, dtype: int64

## Filtering using AND( & ) and OR( | )

In [23]:
filt = (df['County']=='Wicklow') & (df['Height (m)']> 500)

In [24]:
df.loc[filt, ['Open Year','Height (m)']]

     Open Year  Height (m)
885       1962         750
899       1937         503
901       1948         710
902       1948         701
906       1995         541
908       1948         610
911       1937         643
913       1983         610
937       1965         686

## SAQ : Stations in your county

Output a list of Stations in your county that are lower than 200 m.